
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


# Files from first make

bin/postalias
bin/postcat
bin/postconf
bin/postdrop
bin/postfix
bin/postkick
bin/postlock
bin/postlog
bin/postmap
bin/postmulti
bin/postqueue
bin/postsuper
bin/posttls-finger
bin/qmqp-sink
bin/qmqp-source
bin/sendmail
bin/smtp-sink
bin/smtp-source
conf/bounce.cf.default
conf/main.cf.default
include/abounce.h
include/addr_match_list.h
include/anvil_clnt.h
include/argv.h
include/argv_attr.h
include/attr.h
include/attr_clnt.h
include/attr_override.h
include/auto_clnt.h
include/base32_code.h
include/base64_code.h
include/been_here.h
include/binhash.h
include/bounce.h
include/bounce_log.h
include/canon_addr.h
include/cfg_parser.h
include/check_arg.h
include/chroot_uid.h
include/cidr_match.h
include/clean_env.h
include/cleanup_user.h
include/clnt_stream.h
include/compat_va_copy.h
include/config.h
include/connect.h
include/conv_time.h
include/ctable.h
include/data_redirect.h
include/db_common.h
include/debug_peer.h
include/debug_process.h
include/defer.h
include/deliver_completed.h
include/deliver_flock.h
include/deliver_pass.h
include/deliver_request.h
include/delivered_hdr.h
include/dict.h
include/dict_cache.h
include/dict_cdb.h
include/dict_cidr.h
include/dict_db.h
include/dict_dbm.h
include/dict_env.h
include/dict_fail.h
include/dict_ht.h
include/dict_inline.h
include/dict_ldap.h
include/dict_lmdb.h
include/dict_memcache.h
include/dict_mysql.h
include/dict_ni.h
include/dict_nis.h
include/dict_nisplus.h
include/dict_pcre.h
include/dict_pgsql.h
include/dict_pipe.h
include/dict_proxy.h
include/dict_random.h
include/dict_regexp.h
include/dict_sdbm.h
include/dict_sockmap.h
include/dict_sqlite.h
include/dict_static.h
include/dict_tcp.h
include/dict_thash.h
include/dict_union.h
include/dict_unix.h
include/dir_forest.h
include/dns.h
include/domain_list.h
include/dot_lockfile.h
include/dot_lockfile_as.h
include/dsb_scan.h
include/dsn.h
include/dsn_buf.h
include/dsn_filter.h
include/dsn_mask.h
include/dsn_print.h
include/dsn_util.h
include/dynamicmaps.h
include/edit_file.h
include/ehlo_mask.h
include/events.h
include/exec_command.h
include/ext_prop.h
include/file_id.h
include/find_inet.h
include/flush_clnt.h
include/fold_addr.h
include/format_tv.h
include/fsspace.h
include/fullname.h
include/get_domainname.h
include/get_hostname.h
include/haproxy_srvr.h
include/header_body_checks.h
include/header_opts.h
include/header_token.h
include/hex_code.h
include/hex_quote.h
include/host_port.h
include/htable.h
include/inet_addr_host.h
include/inet_addr_list.h
include/inet_addr_local.h
include/inet_proto.h
include/input_transp.h
include/int_filt.h
include/iostuff.h
include/ip_match.h
include/is_header.h
include/killme_after.h
include/lex_822.h
include/line_number.h
include/line_wrap.h
include/listen.h
include/load_file.h
include/load_lib.h
include/log_adhoc.h
include/logwriter.h
include/lstat_as.h
include/mac_expand.h
include/mac_parse.h
include/mail_addr.h
include/mail_addr_crunch.h
include/mail_addr_find.h
include/mail_addr_form.h
include/mail_addr_map.h
include/mail_conf.h
include/mail_copy.h
include/mail_date.h
include/mail_dict.h
include/mail_error.h
include/mail_flow.h
include/mail_flush.h
include/mail_open_ok.h
include/mail_params.h
include/mail_parm_split.h
include/mail_proto.h
include/mail_queue.h
include/mail_run.h
include/mail_scan_dir.h
include/mail_server.h
include/mail_stream.h
include/mail_task.h
include/mail_version.h
include/maillog_client.h
include/make_dirs.h
include/maps.h
include/mark_corrupt.h
include/mask_addr.h
include/master_proto.h
include/match_list.h
include/match_parent_style.h
include/match_service.h
include/mbox_conf.h
include/mbox_open.h
include/memcache_proto.h
include/midna_adomain.h
include/midna_domain.h
include/milter.h
include/mime_state.h
include/mkmap.h
include/msg.h
include/msg_logger.h
include/msg_output.h
include/msg_stats.h
include/msg_syslog.h
include/msg_vstream.h
include/mvect.h
include/myaddrinfo.h
include/myflock.h
include/mymalloc.h
include/mynetworks.h
include/mypwd.h
include/myrand.h
include/namadr_list.h
include/name_code.h
include/name_mask.h
include/nbbio.h
include/netstring.h
include/nvtable.h
include/off_cvt.h
include/open_as.h
include/open_lock.h
include/opened.h
include/own_inet_addr.h
include/percentm.h
include/pipe_command.h
include/posix_signals.h
include/post_mail.h
include/qmgr_user.h
include/qmqp_proto.h
include/quote_821_local.h
include/quote_822_local.h
include/quote_flags.h
include/rcpt_buf.h
include/rcpt_print.h
include/readlline.h
include/rec_attr_map.h
include/rec_streamlf.h
include/rec_type.h
include/recipient_list.h
include/record.h
include/resolve_clnt.h
include/resolve_local.h
include/rewrite_clnt.h
include/ring.h
include/safe.h
include/safe_open.h
include/safe_ultostr.h
include/sane_accept.h
include/sane_connect.h
include/sane_fsops.h
include/sane_socketpair.h
include/sane_time.h
include/scache.h
include/scan_dir.h
include/sent.h
include/server_acl.h
include/set_eugid.h
include/set_ugid.h
include/sigdelay.h
include/slmdb.h
include/smtp_reply_footer.h
include/smtp_stream.h
include/smtputf8.h
include/sock_addr.h
include/spawn_command.h
include/split_addr.h
include/split_at.h
include/stat_as.h
include/string_list.h
include/stringops.h
include/strip_addr.h
include/sys_defs.h
include/sys_exits.h
include/timecmp.h
include/timed_connect.h
include/timed_ipc.h
include/timed_wait.h
include/tls.h
include/tls_mgr.h
include/tls_prng.h
include/tls_proxy.h
include/tls_scache.h
include/tok822.h
include/trace.h
include/trigger.h
include/user_acl.h
include/username.h
include/uxtext.h
include/valid_hostname.h
include/valid_mailhost_addr.h
include/valid_utf8_hostname.h
include/vbuf.h
include/vbuf_print.h
include/verify.h
include/verify_clnt.h
include/verify_sender_addr.h
include/verp_sender.h
include/vstream.h
include/vstring.h
include/vstring_vstream.h
include/warn_stat.h
include/watchdog.h
include/wildcard_inet_addr.h
include/xsasl.h
include/xtext.h
libexec/anvil
libexec/bounce
libexec/cleanup
libexec/discard
libexec/dnsblog
libexec/error
libexec/flush
libexec/fsstone
libexec/local
libexec/master
libexec/oqmgr
libexec/pickup
libexec/pipe
libexec/post-install
libexec/postfix-script
libexec/postfix-tls-script
libexec/postfix-wrapper
libexec/postlogd
libexec/postmulti-script
libexec/postscreen
libexec/proxymap
libexec/qmgr
libexec/qmqpd
libexec/scache
libexec/showq
libexec/smtp
libexec/smtpd
libexec/spawn
libexec/tlsmgr
libexec/tlsproxy
libexec/trivial-rewrite
libexec/verify
libexec/virtual
meta/main.cf.proto
meta/master.cf.proto
meta/postfix-files
src/anvil/Makefile
src/anvil/anvil
src/bounce/Makefile
src/bounce/bounce
src/cleanup/Makefile
src/cleanup/cleanup
src/discard/Makefile
src/discard/discard
src/dns/Makefile
src/dnsblog/Makefile
src/dnsblog/dnsblog
src/error/Makefile
src/error/error
src/flush/Makefile
src/flush/flush
src/fsstone/Makefile
src/fsstone/fsstone
src/global/Makefile
src/local/Makefile
src/local/local
src/master/Makefile
src/master/master
src/milter/Makefile
src/oqmgr/Makefile
src/oqmgr/qmgr
src/pickup/Makefile
src/pickup/pickup
src/pipe/Makefile
src/pipe/pipe
src/postalias/Makefile
src/postalias/postalias
src/postcat/Makefile
src/postcat/postcat
src/postconf/Makefile
src/postconf/bool_table.h
src/postconf/bool_vars.h
src/postconf/int_table.h
src/postconf/int_vars.h
src/postconf/long_table.h
src/postconf/long_vars.h
src/postconf/makes_dummy
src/postconf/nbool_table.h
src/postconf/nbool_vars.h
src/postconf/nint_table.h
src/postconf/nint_vars.h
src/postconf/pcf_ldap_suffixes.h
src/postconf/pcf_memcache_suffixes.h
src/postconf/pcf_mysql_suffixes.h
src/postconf/pcf_pgsql_suffixes.h
src/postconf/pcf_sqlite_suffixes.h
src/postconf/postconf
src/postconf/raw_table.h
src/postconf/raw_vars.h
src/postconf/str_fn_table.h
src/postconf/str_fn_vars.h
src/postconf/str_table.h
src/postconf/str_vars.h
src/postconf/time_table.h
src/postconf/time_vars.h
src/postdrop/Makefile
src/postdrop/postdrop
src/postfix/Makefile
src/postfix/postfix
src/postkick/Makefile
src/postkick/postkick
src/postlock/Makefile
src/postlock/postlock
src/postlog/Makefile
src/postlog/postlog
src/postlogd/Makefile
src/postlogd/postlogd
src/postmap/Makefile
src/postmap/postmap
src/postmulti/Makefile
src/postmulti/postmulti
src/postqueue/Makefile
src/postqueue/postqueue
src/postscreen/Makefile
src/postscreen/postscreen
src/postsuper/Makefile
src/postsuper/postsuper
src/posttls-finger/Makefile
src/posttls-finger/posttls-finger
src/proxymap/Makefile
src/proxymap/proxymap
src/qmgr/Makefile
src/qmgr/qmgr
src/qmqpd/Makefile
src/qmqpd/qmqpd
src/scache/Makefile
src/scache/scache
src/sendmail/Makefile
src/sendmail/sendmail
src/showq/Makefile
src/showq/showq
src/smtp/Makefile
src/smtp/smtp
src/smtpd/Makefile
src/smtpd/smtpd
src/smtpstone/Makefile
src/smtpstone/qmqp-sink
src/smtpstone/qmqp-source
src/smtpstone/smtp-sink
src/smtpstone/smtp-source
src/spawn/Makefile
src/spawn/spawn
src/tls/Makefile
src/tlsmgr/Makefile
src/tlsmgr/tlsmgr
src/tlsproxy/Makefile
src/tlsproxy/tlsproxy
src/trivial-rewrite/Makefile
src/trivial-rewrite/trivial-rewrite
src/util/Makefile
src/verify/Makefile
src/verify/verify
src/virtual/Makefile
src/virtual/virtual
src/xsasl/Makefile
